@model IEnumerable<RhythmRecall.Models.TrackListDto>


@{
    ViewBag.Title = "ListenLater";
    bool? isTrackDelted = ViewBag.isTrackDeleted;
    bool? isTrackAddedInDiscoverd = ViewBag.isAddedToDiscoverd;
}





@if (isTrackDelted == true)
{

    <script>
        alert("Track is removed from you list");
    </script>

}

@if (isTrackAddedInDiscoverd == true)
{

    <script>
        alert("Track is added to your discoverd list");
    </script>

}

<section class="listen-later-list-container">


    <div class="btn-rev-wrapper">
            @if (Model.Count() == 0)
            {
                <div class="section-heading">
                    <h1>You don't have any song in Discoverd list</h1>
                </div>
            }
            else
            {
                <div class="section-heading">
                    <h1>Discoverd list of  @Model.First().Username</h1>
                </div>
            }

            <form method="get" action="/Review/Display" class="btn-review">
                <input type="hidden" value="@Model.First().UserId" name="userId" />

                <input type="submit" value="See all reviews" />

            </form>

    </div>



    @foreach (var track in Model)
    {



        <div class="track-container">
            <h4> @track.Title By @track.Artist </h4>

            <!-- <a href="RemoveFromListenLater/@track.Id">Remove</a> -->



            <form method="post" action="/TrackList/AddToListenLater">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="submit" value="Add to listen later" />

            </form>

            <form method="post" action="/Review/New">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="submit" value="Write a review" />

            </form>


            <form method="post" action="/User/IntrestedUserForDiscoverd">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="image" src="~/Content/images/other-users.png"" alt="submit" class="btn-submit-image" title="See other users" />


            </form>


            <form method="post" action="/TrackList/RemoveFromDiscoverd">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="image" src="~/Content/images/bin.png" alt="submit" class="btn-submit-image" title="Remove" />


            </form>

        </div>

    }
</section>

