@model IEnumerable<RhythmRecall.Models.TrackListDto>


@{
    ViewBag.Title = "ListenLater";
    bool? isTrackDelted = ViewBag.isTrackDeleted;
    bool? isTrackAddedInDiscoverd = ViewBag.isAddedToDiscoverd;
}



@if (Model.Count() == 0)
{
    <h1>You don't have any song in Discoverd list</h1>
}
else
{
    <h1>Discoverd list of  @Model.First().Username</h1>
}

@if (isTrackDelted == true)
{

    <script>
        alert("Track is removed from you list");
    </script>

}

@if (isTrackAddedInDiscoverd == true)
{

    <script>
        alert("Track is added to your discoverd list");
    </script>

}

@foreach (var track in Model)
{
    <form method="get" action="/Review/Display">
        <input type="hidden" value="@track.UserId" name="userId" />

        <input type="submit" value="See all reviews" />

    </form>


    <div class="track-container">
        <h5> @track.Title By @track.Artist </h5>

        <!-- <a href="RemoveFromListenLater/@track.Id">Remove</a> -->

        <form method="post" action="/TrackList/RemoveFromDiscoverd">
            <input type="hidden" value="@track.UserId" name="userId" />
            <input type="hidden" value="@track.TrackId" name="trackId" />


            <input type="submit" value="remove" />

        </form>

        <form method="post" action="/TrackList/AddToListenLater">
            <input type="hidden" value="@track.UserId" name="userId" />
            <input type="hidden" value="@track.TrackId" name="trackId" />


            <input type="submit" value="Add to listen later" />

        </form>

        <form method="post" action="/Review/New">
            <input type="hidden" value="@track.UserId" name="userId" />
            <input type="hidden" value="@track.TrackId" name="trackId" />


            <input type="submit" value="Write a review" />

        </form>

    </div>

}

