@model IEnumerable<RhythmRecall.Models.TrackListDto>


@{
    ViewBag.Title = "ListenLater";
    bool? isTrackDelted = ViewBag.isTrackDeleted;
    bool? isTrackAddedInDiscoverd = ViewBag.isAddedToDiscoverd;
    bool? isAddedToListenLater = ViewBag.isAddedToListenLater;
}





@if (isTrackDelted == true)
{

    <script>
        alert("Track is removed from you list");
    </script>

}

@if (isTrackAddedInDiscoverd == true)
{

    <script>
        alert("Track is added to your discoverd list");
    </script>

}


@if (isAddedToListenLater == true)
{

    <script>
        alert("Track is added to your listen later list");
    </script>

}


<section class="listen-later-list-container">


    @if (Model.Count() == 0)
    {
        <h1>You don't have any song in listen later list'</h1>
    }
    else
    {
        <h1>Listen later list of  @Model.First().Username</h1>
    }

    @foreach (var track in Model)
    {

        <div class="track-container">
            <h4> @track.Title By @track.Artist  </h4>

            <!-- <a href="RemoveFromListenLater/@track.Id">Remove</a> -->

            <form method="post" action="/TrackList/AddToDiscoverdList">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="submit" value="Add to discoverd" />

            </form>


            <form method="post" action="/User/IntrestedUserForDiscoverd">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />


                <input type="image" src="~/Content/images/other-users.png" alt="submit" class="btn-submit-image" title="See other users" />


            </form>



            <form method="post" action="/TrackList/RemoveFromListenLater">
                <input type="hidden" value="@track.UserId" name="userId" />
                <input type="hidden" value="@track.TrackId" name="trackId" />

                <input type="image" src="~/Content/images/bin.png" alt="submit" class="btn-submit-image" title="Remove" />


            </form>



        </div>

    }
</section>

